:root{
    --first-color: #ebe8e8;
    --second-color: #996d90;
    --white-color: #fff;
    --gray-dark-color: #666;
}
html{
    box-sizing: border-box;
    font-size: 18px;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
body{
    color: red;
    margin: 0;
    overflow-x: hidden;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.container{
    background-color: turquoise;
}
img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.carousel{
    width: 75%;
}