:root{
    --first-color: #ebe8e8;
    --second-color: #ffcb3a;
    --white-color: #fff;
    --gray-dark-color: #666;
}
html{
    box-sizing: border-box;
    font-size: 18px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    overflow-x: hidden;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.avatar{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
.avatar1{
    margin-left: 7px;
}
.avatar2{
    margin-left: 70px;
}
.avatar3{
    margin-left: -150px;
}
.avatar4{
    margin-left: -75px;
}
.avatar5{
    margin-left: -80px;
}
.heroe-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: var(--heroe-attachment);
}
.heroe-image-opacity{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--heroe-opacity-color);
    text-align: center;
}
.heroe-image-title{
    color: var(--white-color);
    font-size: 5vw;
}
@keyframes carousel-slide {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-75%);
    }
}
.carousel{
    margin: 2rem 0;
    padding: 2rem 0;
    max-width: 800px;
    background-color: var(--carousel-bg-color);
    text-align: center;
    overflow-x: hidden;
    border-radius: 20px;
}
.carousel input{
    display: none;
}
.carousel label{
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25rem;
}
.carousel .slides{
    display: flex;
    list-style: none;
    width: 400%;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    animation: carousel-slide 20s ease-in-out 2s;
}
.slide blockquote{
    width: 80%;
}
#slide-1:checked ~ .slides{
    transform: translateX(0%);
}
#slide-2:checked ~ .slides{
    transform: translateX(-25%);
}
#slide-3:checked ~ .slides{
    transform: translateX(-50%);
}
#slide-4:checked ~ .slides{
    transform: translateX(-75%);
}
#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4{
    background-color: var(--gray-dark-color);
}