:root{
    --first-color: #ebe8e8;
    --second-color: #996d90;
    --white-color: #fff;
    --gray-dark-color: #666;
    --fondo-blanco: rgb(255, 255, 255, 0.6);
}
html{
    box-sizing: border-box;
    font-size: 18px;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
body{
    color: red;
    margin: 0;
    overflow-x: hidden;
    background-image: url(assets/pattern.png);
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.carousel{
    width: 75%;
}
.carousel-inner{
    border-radius: 10px;
    border: thin solid #666;
}
.carousel-caption{
    background-color: var(--fondo-blanco);
    border-radius: 10px;
    padding: 10px;
}